@import "variables";

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: $yellow;

	h1 {
		margin: 0px;
		padding: 20px;
	}
}

.wrapper {
	text-align: center;
}

#cards-container {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	min-height: 500px;
}

#btn-create {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 50px;
	margin: 0 auto;
	width: 60px;
	height: 60px;
	border: 2px solid $yellow - 20;
	border-radius: 50px;
	background-color: $yellow;
	cursor: pointer;
	box-shadow: 1px 4px 15px rgba(0,0,0,0.4);
	font-size: 20px;
	color: $yellow - 150;
	&:hover {
		background-color: $yellow + 5;
	}
	&:focus {
		outline: none;
		border: 2px solid $yellow - 60;
	}
}

.card {
	margin: 15px;
	box-sizing: border-box;
	padding-top: 5px;
	width: calc(100% / 4 - 30px);
	height: 300px;
	background-color: deepskyblue;
	box-shadow: 1px 3px 10px rgba(0,0,0,0.5);
	position: relative;

	.watermark {
		position: absolute;
		margin: 0 auto;
		top: 50%; left: 0; right:0;
		transform: translateY(-50%);
		cursor: default;
		z-index: 0;
		display: none;
		font-size: 34px;
		margin: 0 5px;;
		color: rgba($gray, 0.3);

		&.visible {
			display: block;
		}
	}

	h2 {
		margin: 0;
		padding: 0;
		font-size: 20px;
	}

	.btn-minus {
		position: absolute;
		color: rgba(0,0,0,0.4);
		right: 0;
		top: 0;
		border: none;
		background-color: transparent;
		width: 30px;
		height: 30px;
		cursor: pointer;
		&:hover {
			color: rgba(0,0,0,1);
		}
		&:focus {
			outline: none;
			color: #000000;
		}
	}

	.list-container {
		height: 236px;
		overflow-y: auto;

		&::-webkit-scrollbar {
    	width: 12px;
		}

		&::-webkit-scrollbar-track {
			border-radius: 10px;
		    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		}

		&::-webkit-scrollbar-thumb {
		    border-radius: 10px;
		    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
		}
	}

	input[type='text'] {
		font-family: 'Roboto', sans-serif;
		visibility: hidden;
		font-size: 16px;
		margin-top: 5px;
		background-color: transparent;
		height: 25px;
		border: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 5px;
		&.visible {
			visibility: visible;
		}
		&::-webkit-input-placeholder {
			color: #000000;
		}
		&:focus::-webkit-input-placeholder {
			color: transparent;
		}
	}

	.list {
		margin: 0;
		list-style-type: none;
		padding: 0;
		text-align: left;
		height: auto;

		.item {
			cursor: pointer;
			padding: 2px 5px;
			box-sizing: border-box;
			position: relative;
			background-color: transparent;
			&:hover {
				background-color: rgba(0,0,0,0.1);
			}
			&:hover button {
				visibility: visible;
			}
		}

		.checkbox {
			font-size: 22px;
			padding: 2px 8px 0 0;
		}

		.fa-check-square-o {
			&:before {
				color: $gray;
			}
		}

		span {
			word-wrap: break-word;
			&.selected {
				text-decoration: line-through;
				color: $gray;
			}
		}

		button {
			background: none;
			border: none;
			position: absolute;
			top: 5px;
			right: 0;
			visibility: hidden;
		}
	}

	.card-colors {
		position: absolute;
		bottom: 0;
		margin: 0px 5px;
		padding: 0;

		.color {
			display: inline-block;
			margin: 3px;
			width: 20px;
			height: 20px;
			border: 1px solid #000000;
			cursor: pointer;
			&:nth-child(1) {
				background-color: $blue;
			}
			&:nth-child(2) {
				background-color: $yellow;
			}
			&:nth-child(3) {
				background-color: $green;
			}
		}
	}
}

@media all and (max-width: 1000px) {
	#cards-container {
		.card {
			width: calc(100% / 2 - 30px);
		}
	}
}

@media all and (max-width: 420px) {
	#cards-container {
		.card {
			width: 100%;
		}
	}

	#btn-create {
		bottom: 20px;
	}
}
